<script src="https://kit.fontawesome.com/9764bc42f4.js" crossorigin="anonymous"></script>

<style>
body {
  background-color: #dae0da;
}
</style>

<ul class="nblist">
  <li class="nbli"><a class="homenb nb" href="/mainview">Home</a></li>
  <li class="nbli"><a class="nb" href="/search">Search</a></li>
  <li class="nbli"><a class="nb" href="">Post</a></li>
  <li class="nbli"><a class="nb" href="/account">Account</a></li>
  <li class="nbli"><a class="nb" href="">Become a Buddy</a></li>
  <li class="nbli"><a class="nb" href="/logout">Logout</a></li>
</ul>

<div>
<h1> title </h1>
</div> 


{{#each solid}}
    <a class="solidcardlink" href="/solids/{{this._id}}">
      <div class="solidcard">
        <div class="cardelem">{{this.postedBy}}</div>
        <div class="cardelem">{{this.description}}</div>
        <div class="cardelem">${{this.price}}</div>
        <div class="cardelem">{{this.location}}</div>
        <div class="cardelem">{{this.timestamp}}</div>
        <div class="cardelembot">{{this.tags}}</div>
      </div>
    </a>
{{/each}}