<script src="https://kit.fontawesome.com/9764bc42f4.js" crossorigin="anonymous"></script>

<style>
  body {
    background-color: #dae0da;
  }
</style>

<ul class="nblist">
  <li class="nbli"><a class="homenb nb" href="/mainview">Home</a></li>
  <li class="nbli"><a class="nb" href="/search">Search</a></li>
  <li class="nbli"><a class="nb" href="/nearby">Solids Near Me</a></li>
  <li class="nbli"><a class="nb" href="/account">Account</a></li>
  <li class="nbli"><a class="nb" href="/logout">Logout</a></li>
</ul>

<div>
  <h1 class="margin"> {{user}}'s Posted Solids!</h1>
</div>


<div id="cardArea">
  {{#each solid}}
  <a class="solidcardlink" href="/solids/{{this._id}}">
    <div class="solidcard">
      <div class="solidContent">
        <div class='solidText'>
          <div class="cardelem">
            <p>Posted By: {{this.postedBy}}</p>
          </div>
          <div class="cardelem">
            <p>The Job: {{this.description}}</p>
          </div>
          <div class="cardelem">
            <p>${{this.price}}</p>
          </div>
          <div class="cardelem">
            <p>Zipcode: {{this.location}}</p>
          </div>
          <div class="cardelem">
            <p>Posted on:{{this.timestamp}}</p>
          </div>
          <div class="cardelembot">
            <p>Tags: {{this.tags}}</p>
          </div>
        </div>
      </div>
    </div>
  </a>

  {{/each}}
</div>