<style>
  body {
    background-color: #dae0da;
  }
</style>

<ul class="nblist">
  <li class="nbli"><a class="homenb nb" href="">Home</a></li>
  <li class="nbli"><a class="nb" href="">Search</a></li>
  <li class="nbli"><a class="nb" href="">Post</a></li>
  <li class="nbli"><a class="nb" href="">Account</a></li>
  <li class="nbli"><a class="nb" href="/logout">Logout</a></li>
</ul>

<h1 class="title">NEW SOLIDS<h1>
    {{!-- button to trigger modal for solid form --}}
    <div id="solid_button">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#solidPostModal">
        Post a Solid!
      </button>

    </div>
    {{!-- modal for post a solid form --}}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" aria-describedby="title">
              </div>
              <div class="mb-3">
                <label for="body" class="form-label">What do you need?</label>
                <input type="body" class="form-control" id="body">
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Post!</button>

          </div>
        </div>
      </div>
    </div>




    </div>
    <a class="solidcardlink" href="">
      <div class="solidcard">
        <div>POSTER</div>
        <div>DESCRIPTION</div>
        <div>PRICE</div>
        <div>LOCATION</div>
        <div>TIMESTAMP</div>
        <div class="grid-container">
          <div class="grid-child">TAG1</div>
          <div class="grid-child">TAG2</div>
          <div class="grid-child">TAG3</div>
        </div>
      </div>
    </a>

    <!-- <a class="solidcardlink" href = "">
  <div class="solidcard">
    <div>{{solid.postedBy}}</div>
    <div>{{solid.description}}</div>
    <div>{{solid.price}}</div>
    <div>{{solid.location}}</div>
    <div>{{solid.timestamp}}</div>
    <div class="grid-container">
      {{#each show.genres}}
        <div class="grid-child">{{this}}</div>
      {{/each}}
    </div>
  </div>
</a> -->