<style>
  body {
    background-color: #dae0da;
  }
</style>

<ul class="nblist">
  <li class="nbli"><a class="homenb nb" href="">Home</a></li>
  <li class="nbli"><a class="nb" href="">Search</a></li>
  <li class="nbli"><a class="nb" href="">Post</a></li>
  <li class="nbli"><a class="nb" href="">Account</a></li>
  <li class="nbli"><a class="nb" href="/logout">Logout</a></li>
</ul>

<h1 class="title">NEW SOLIDS<h1>
    {{!-- button to trigger modal for solid form --}}
    <div id="solid_button">
      <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#solidPostModal">
        Post a Solid!
      </button>
    </div>
    {{!-- modal for post a solid form --}}
    <div class="modal fade" id="solidPostModal" role="dialogue" tabindex="-1" aria-labelledby="modal"
      aria-hidden="true">
      <div class="modal-dialog  modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <form id="post_solid" class="form">
              <div class="mb-3">
                <label for="body" class="form-label">Let's do you a solid.</label>
                <textarea type="body" rows="4" cols="50" class="form-control" id="body"></textarea>
              </div>
              <div class="input-group mb-3">
                <div class="container">
                  <div class="col align-self-center">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="price" placeholder="$" aria-label="Price">
                  </div>
                  <div>
                    <input type="hidden" id="name" value={{user}} />
                  </div>
                </div>
              </div>
              <div class="mb-3 form-check">
                <div>
                  <input type="checkbox" class="form-check-input" id="shopping" />
                  <label class="form-check-label" for="shopping">Shopping</label>
                </div>
                <div>
                  <input type="checkbox" class="form-check-input" id="pickup" />
                  <label class="form-check-label" for="pickup">Pickup</label>
                </div>
                <div>
                  <input type="checkbox" class="form-check-input" id="small_task" />
                  <label class="form-check-label" for="small_task">Small Task</label>
                </div>
                <div>
                  <input type="checkbox" class="form-check-input" id="large_task" />
                  <label class="form-check-label" for="large_task">Large Task</label>
                </div>
                <div>
                  <input type="checkbox" class="form-check-input" id="car_needed" />
                  <label class="form-check-label" for="car_needed">Car Needed</label>
                </div>
                <div>
                  <input type="checkbox" class="form-check-input" id="art" />
                  <label class="form-check-label" for="art">Art</label>
                </div>
                <div>
                  <input type="checkbox" class="form-check-input" id="computer" />
                  <label class="form-check-label" for="computer">Computer</label>
                </div>
                <div>
                  <input type="checkbox" class="form-check-input" id="labor" />
                  <label class="form-check-label" for="labor">Labor</label>
                </div>
                <div>
                  <input type="checkbox" class="form-check-input" id="writing" />
                  <label class="form-check-label" for="writing">Writing</label>
                </div>
                <div>
                  <input type="checkbox" class="form-check-input" id="household" />
                  <label class="form-check-label" for="household">Household</label>
                </div>
                <div>
                  <input type="checkbox" class="form-check-input" id="quick" />
                  <label class="form-check-label" for="quick">Quick</label>
                </div>

              </div>
              <button type="submit" value="Submit" data-dismiss="modal" form="post_solid">
                Submit
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>



    <a class="solidcardlink" href="">
      <div class="solidcard">
        <div>POSTER</div>
        <div>DESCRIPTION</div>
        <div>PRICE</div>
        <div>LOCATION</div>
        <div>TIMESTAMP</div>
        <div class="grid-container">
          <div class="grid-child">TAG1</div>
          <div class="grid-child">TAG2</div>
          <div class="grid-child">TAG3</div>
        </div>
      </div>
    </a>

    <!-- <a class="solidcardlink" href = "">
  <div class="solidcard">
    <div>{{solid.postedBy}}</div>
    <div>{{solid.description}}</div>
    <div>{{solid.price}}</div>
    <div>{{solid.location}}</div>
    <div>{{solid.timestamp}}</div>
    <div class="grid-container">
      {{#each show.genres}}
        <div class="grid-child">{{this}}</div>
      {{/each}}
    </div>
  </div>
</a> -->
    <script type="text/javascript" src="../../public/js/mainview.js"></script>