<style>
body {
  background-color: #dae0da;
}
</style>

<ul class="nblist">
  <li class="nbli"><a class="homenb nb" href="">Home</a></li>
  <li class="nbli"><a class="nb" href="">Search</a></li>
  <li class="nbli"><a class="nb" href="">Post</a></li>
  <li class="nbli"><a class="nb" href="">Account</a></li>
</ul>

<h1 class="title">NEW SOLIDS<h1>

<a class="solidcardlink" href = "">
  <div class="solidcard">
    <div>POSTER</div>
    <div>DESCRIPTION</div>
    <div>PRICE</div>
    <div>LOCATION</div>
    <div>TIMESTAMP</div>
    <div class="grid-container">
      <div class="grid-child">TAG1</div>
      <div class="grid-child">TAG2</div>
      <div class="grid-child">TAG3</div>
    </div>
  </div>
</a>

<!-- <a class="solidcardlink" href = "">
  <div class="solidcard">
    <div>{{solid.postedBy}}</div>
    <div>{{solid.description}}</div>
    <div>{{solid.price}}</div>
    <div>{{solid.location}}</div>
    <div>{{solid.timestamp}}</div>
    <div class="grid-container">
      {{#each show.genres}}
        <div class="grid-child">{{this}}</div>
      {{/each}}
    </div>
  </div>
</a> -->
