<link rel="stylesheet" type="text/css" href="../../public/css/bgcolor.css" media="screen" />

<ul class="nblist">
  <li class="nbli"><a class="homenb nb" href="/mainview">Home</a></li>
  <li class="nbli"><a class="nb" href="/search">Search</a></li>
  <li class="nbli"><a class="nb" href="/nearby">Solids Near Me</a></li>
  <li class="nbli"><a class="nb" href="/account">Account</a></li>
  <li class="nbli"><a class="nb" href="/logout">Logout</a></li>
</ul>

<h1 class="titlesearch">KEYWORD SEARCH<h1>

    <form action="/searchkw" method="POST">
      <label for="search" class="smalllabel">
        Keyword: <input type="text" name="searchTerm" id="searchTerm" placeholder="Enter a term" class="submits">
      </label>
      <input type="submit" value="Submit" id="button" class="submits">
    </form>

    <div id="cardArea">
      {{#each solid}}
      <a class="solidcardlink" href="/solids/{{this._id}}">
        <div class="solidcard">
          <div class="solidContent">
            <div class='solidText'>
              <div class="cardelem">
                <p>Posted By: {{this.postedBy}}</p>
              </div>
              <div class="cardelem">
                <p>The Job: {{this.description}}</p>
              </div>
              <div class="cardelem">
                <p>${{this.price}}</p>
              </div>
              <div class="cardelem">
                <p>Zipcode: {{this.location}}</p>
              </div>
              <div class="cardelem">
                <p>Posted on:{{this.timestamp}}</p>
              </div>
              <div class="cardelembot">
                <p>Tags: {{this.tags}}</p>
              </div>
            </div>
          </div>
        </div>
      </a>

      {{/each}}
    </div>

    <div>
      <p class="error">{{error}}</p>
    </div>