<link rel="stylesheet" type="text/css" href="../../public/css/bgcolor.css" media="screen"/>

<ul class="nblist">
  <li class="nbli"><a class="homenb nb" href="/mainview">Home</a></li>
  <li class="nbli"><a class="nb" href="/search">Search</a></li>
  <li class="nbli"><a class="nb" href="/nearby">Solids Near Me</a></li>
  <li class="nbli"><a class="nb" href="/account">Account</a></li>
  <li class="nbli"><a class="nb" href="">Become a Buddy</a></li>
  <li class="nbli"><a class="nb" href="/logout">Logout</a></li>
</ul>

<h1 class="titlesearch">SOLID TAG SEARCH<h1>

<form action="/searchst" method="POST" class="formstag">
<label for="search" class="smalllabel">
  Tags:
</label>
<select name="searchTerm" id="searchTerm" class="submits">
  <option value='shopping'>Shopping</option>
  <option value='pickup'>Pickup</option>
  <option value='small_task'>Small Task</option>
  <option value='large_task'>Large Task</option>
  <option value='car_needed'>Car Needed</option>
  <option value='art'>Art</option>
  <option value='computers'>Computers</option>
  <option value='labor'>Labor</option>
  <option value='writing'>Writing</option>
  <option value='household'>Household</option>
  <option value='quick'>Quick</option>
</select>
<input type="submit" value="Submit" id="button" class="submits">
</form>

{{#each solid}}
  <a class="solidcardlink" href = "/solids/{{this._id}}">
    <div class="solidcard">
      <div class="cardelem">{{this.postedBy}}</div>
      <div class="cardelem">{{this.description}}</div>
      <div class="cardelem">${{this.price}}</div>
      <div class="cardelem">{{this.location}}</div>
      <div class="cardelem">{{this.timestamp}}</div>
      <div class="cardelembot">{{this.tags}}</div>
    </div>
  </a>
{{/each}}

<div>
<p class="error">{{error}}</p>
</div>
